<br>
<a href="/bright_ideas">Bright Ideas </a>
<br>
<a href="/sessions/destroy"> Logout </a>
<br>
<br>
<h1>Name: <%= @user.name %></h1>
<h1>Alias: <%= @user.alias %></h1>
<h1>Email: <%= @user.email %></h1>

<h2>Total number of Posts: <%= @user.posts.count %></h2>
<h2>Total number of Likes: <%= @user.likes.count %></h2>
